*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.modal{
    margin-right: 10px;
}

.form{
    width: 90vw;
    max-width: 900px;
    display: flex;
    flex-direction: row;
}

input[type="checkbox"]:checked + .text {
    text-decoration: line-through;
    color: #999;
}

.items{
    background-color:gray;
    padding: 20px ;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: aliceblue;
    width: 250px;
}

.additem{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #ffff;
    color: gray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.digitadd{
    padding-left: 10px;
    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    color: aliceblue;
}

.digitadd:focus{
    background-color: gray;
    border: 1px gold;
}

.buttonX{
    background-color: transparent;
    color: aliceblue;
    border: 2px none aliceblue;
}

.buttonX:hover{
    scale: 0.7;
    transition: 0.7s; 
    border: 1px solid red;
    color: red;
}