*{
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50vw;
   
    
    gap: .3em;
    padding: 0 10px 0 10px;
}

.body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.modal{
    margin-right: 10px;
}

input[type="checkbox"]:checked + .text {
    text-decoration: line-through;
    color: #999;
}

.items{
    background-color:gray;
    padding: 20px ;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: aliceblue;
    width: 250px;
}
.buttonX{
    background-color: transparent;
    color: aliceblue;
    border: 2px none aliceblue;
}

.buttonX:hover{
    scale: 0.7;
    transition: 0.7s; 
    border: 1px solid red;
    color: red;
}